body {
    width: 1520px;
    min-width: 1200px;
}

* {
    padding: 0;
}

#head {
    display: inline-block;
    width: 1520px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
}

#logo1 {
    float: left;
}

#logo1 a {
    padding-left: 80px;
}

#right {
    float: right;
}

#main {
    height: auto;
    width: 100%;
}

#menu {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 17px;
}

#queryBar {
    list-style: none;
    display: flex;
    font-size: 16px;
}

#menu li {
    margin-top: 2px;
}

.input {
    width: 120px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: gray;
    text-align: center;
    outline: none;
    border: 0px;
    background-color: #fff;
    border-radius: 5px;

}

.input:focus {
    background-color: red;
    color: #fff;
}

.input:hover {
    background-color: red;
    color: #fff;
}

.input:active {
    background-color: red;
    color: #fff;
}

.queryTable {
    border: 2px solid #e5e5e5;
    padding-left: 20px;
    padding-top: 10px;
    width: 1200px;
    height: 250px;
    margin: 20px auto;
}

.tabletext {
    float: left;
    font-weight: 700;
}

.quickQuery {
    width: 85px;
    height: 28px;
    font-size: 16px;
    font-weight: 700;
    border: 0px;
    outline: none;
    border-radius: 3px;
    color: #666;
    background-color: #fff;

}

.complexQuery {
    width: 250px;
    height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    border: 1px solid #e5e5e5;
}

#queryBar li {
    margin: -3px 10px;
}


#queryBar2 {
    display: block;
    list-style: none;
}

#queryBar2 li {
    margin: 5px 0;
}

button {
    height: 30px;
    width: 55px;
    margin: 5px 0 5px 10px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 5px;
    color: pink;
}

hr {
    color: aquamarine;
}

#queryBar input:focus {
    background-color: red;
    color: #fff;
}

#queryBar input:hover {
    background-color: red;
    color: #fff;
}

#queryBar input:active {
    background-color: red;
    color: #fff;
}


table {
    width: 1220px;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    margin-bottom: 100px;
}

table td,
th {
    border: 1px solid #e5e5e5;
    text-align: center;
}

table th {
    color: #333;
    font-size: 17px;
    background-color: #f5f4f3;
    border-top: 2px solid #dd2020;
    padding: 10px 10px;

}

table td {
    font-size: 17px;
    color: #666;
    padding: 10px 10px;
}

h3 {
    padding-left: 150px;
    color: #db3b3b;
}

.donate {
    height: 30px;
    width: 200px;
    background-color: rgb(250, 235, 232);
    border: 0px;
    font-size: 18px;
    text-align: center;
}

.donateButton {
    height: 30px;
    width: 95px;
    margin: 5px 0;
    font-size: 18px;
}

#footer {
    height: 50px;
}

p {
    color: #333;
    text-align: center;
    font-size: 13px;
}

#flash {
    display: block;
    font-size: 26px;
    text-align: center;
    color: pink;
}