<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/signUpCharity.css">
  <title>大爱无疆慈善中心注册页</title>
</head>

<body>
  <div id="logogroup">
    <span id="logo1">
      <a href="#"> <img src="../static/image/44.png" alt="" /></a>
    </span>
  </div>
  <div id="main">
    <div id="left">
      <img src="../static/image/imga.png" alt="加载失败" height="480px" width="480px" />
    </div>

    <div id="right">
      <form method="post">
        <table border="0" style="border-collapse: separate; border-spacing: 10px">
          <tr>
            <th>
              <img src="../static/image/charity.png " alt="" width="45px" height="45px" />
              <span>&nbsp注册</span>
            </th>
          </tr>
          <tr>
            <td colspan="3">
              <input type="text" name="account" placeholder="账号" />
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <input type="password" name="password" placeholder=" 密码" />
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <input type="password" name="password2" placeholder=" 确认密码" />
            </td>
          </tr>
          <tr>
            <td class="second1" colspan="1">
              <input type="text" name="name" placeholder=" 机构名称" />
            </td>
            <td class="second2" colspan="2">
              <input type="text" name="category" placeholder=" 类别" />
            </td>
          </tr>

          <tr>
            <td id="third1">
              <input type="text" name="telphone1" placeholder=" 电话: 3位数字" size="2" />
            </td>
            <td id="third2">
              <input type="text" name="telphone2" placeholder=" 3位数字" size="4" />
            </td>
            <td id="third3">
              <input type="text" name="telphone3" placeholder=" 4位数字" size="4" />
            </td>
          </tr>
          <tr>
            <td id="third1">
              <input type="text" name="state" placeholder=" 省份" size="3" />
            </td>
            <td id="third2">
              <input type="text" name="city" placeholder=" 城市" size="3" />
            </td>
            <td id="third3">
              <input type="text" name="street" placeholder=" 街道" size="3" />
            </td>
          </tr>
          <tr>
            <td class="second1">
              <input type="text" name="revenue" placeholder=" 年度决算" />
            </td>
            <td class="second2" colspan="2">
              <input type="text" name="zip" placeholder=" 邮政编号" />
            </td>
          </tr>
          <tr>
            <td id="forth1">
              <input type="text" name="program" placeholder=" 项目开销" />
            </td>
            <td id="forth2">
              <input type="text" name="admin" placeholder=" 管理开销" />
            </td>
            <td id="forth3">
              <input type="text" name="fundraising" placeholder=" 决算开销" />
            </td>
          </tr>

          <tr>
            <td colspan="3" id="red">
              <input type="submit" value="注册" id="register" />
            </td>
          </tr>
          {% for message in get_flashed_messages() %}
          <span id="inform"> {{ message }}</span>
          {% endfor %}
        </table>
      </form>
    </div>
  </div>
</body>

</html>