<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/signUp/signUpDonor.css">
  <title>大爱无疆慈善中心注册页</title>
</head>

<body>
  <div id="logogroup">
    <span id="logo1">
      <a href="#"> <img src="../static/img/44.png" alt="" /></a>
    </span>
  </div>
  <div id="main">
    <div id="left">
      <img src="../static/img/imga.png" alt="加载失败" height="480px" width="480px" />
    </div>

    <div id="right">
      <form method="post">
        <table border="0" style="border-collapse: separate; border-spacing: 10px">
          <tr>
            <th>
              <img src="../static/img/person.png " alt="" width="45px" height="45px" />
              <span id="sign">&nbsp注册</span>
            </th>
          </tr>
          <tr>
            <td colspan="3">
              <input type="text" name="account" placeholder=" 账户" />
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <input type="password" name="password" placeholder=" 密码" />
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <input type="password" name="password2" placeholder=" 确认密码" />
            </td>
          </tr>
          <tr>
            <td id="second1">
              <input type="text" name="last_name" placeholder=" 姓氏" />
            </td>
            <td colspan="2">
              <input type="text" name="first_name" placeholder=" 名字" id="second2" />
            </td>
          </tr>

          <tr>
            <td colspan="3">
              <input type="text" name="telphone" placeholder=" 电话, 10位数字" />
            </td>
          </tr>
          <tr>
            <td id="third1">
              <input type="text" name="state" placeholder=" 省份" />
            </td>
            <td id="third2">
              <input type="text" name="city" placeholder=" 城市" />
            </td>
            <td id="third3">
              <input type="text" name="street" placeholder=" 街道" />
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <input type="text" name="zipCode" placeholder=" 邮编, 5位数字" />
            </td>
          </tr>

          &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          <tr>
            <td colspan="3" id="red">
              <input type="submit" value="注  册" id="register" />
            </td>
          </tr>

          {% for message in get_flashed_messages() %}
          <span id="inform"> {{ message }}</span>
          {% endfor %}
        </table>
      </form>
    </div>
  </div>
</body>

</html>