body {
    width: 1580px;
    min-width: 1200px;
  }

  #logogroup {
    display: inline-block;
    width: 1580px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
  }

  #logo1 a {
    padding-left: 80px;
  }

  #main {
    background-color: #fafbfc;
    width: 100%;
    margin-top: 4px;
    display: inline-block;
  }

  #left {
    float: left;
    padding-left: 150px;
    padding-top: 60px;
    height: 480px;
    width: 480px;
  }

  #right {
    float: left;
    height: 550px;
    width: 550px;
    padding-top: 60px;
    padding-left: 200px;
  }

  table {
    border: 1px;
    background-color: #fff;
    width: 550px;
    height: 520px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  }

  th {
    color: rgb(35, 112, 234);
    font-size: 23px;
    text-align: center;
  }

  input {
    display: block;
    width: 450px;
    outline: none;
    background: #fafbfc;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: 2px solid #edebeb;
    color: #333;
    margin: 0 auto;
    border-radius: 5px;
  }

  #red {
    background-color: red;
    color: white;
    line-height: 40px;
  }

  .inputText {
    text-align: center;
    letter-spacing: 3px;
    color: gray;
  }

  #inform {
    font-size: 26px;
    font-weight: 700;
    color: pink;
    letter-spacing: 3px;
    position: relative;
    left: 30%;
  }

  #jump {
    position: relative;
    left: 40%;
  }

  #jump a:link {
    text-decoration: none;
    color: gray;
  }

  #jump a:visited {
    text-decoration: none;
    color: gray;
  }

  #jump a:hover {
    text-decoration: none;
    color: blue;
    text-decoration: underline;
  }

  #jump a:active {
    text-decoration: none;
    color: red;
  }