<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/index/index.css">
  <title>大爱无疆慈善中心登录页</title>
</head>

<body>
  <div id="logogroup">
    <span id="logo1">
      <a href="#"> <img src="../static/img/44.png" alt="" /></a>
    </span>
  </div>
  <div id="main">
    <div id="left">
      <img src="../static/img/imga.png" alt="加载失败" height="480px" width="480px" />
    </div>
    <div id="right">
      <form method="post">
        <table border="0">
          <tr>
            <th>用户登录</th>
          </tr>
          <tr>
            <td>
              <input type="account" name="account" placeholder="请输入账号" class="inputText" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="password" name="password" placeholder="请输入密码" class="inputText" /><br />
            </td>
          </tr>
          <tr>
            <td><input type="submit" value="登录" id="red" /></td>
          </tr>
          <tr>
            <td>
              <p id="jump"><a href="./signUp.html">没有账号？点我注册</a></p>
            </td>
          </tr>

          {% for message in get_flashed_messages() %}
          <td id="inform"><span> {{ message }}</span></td>
          {% endfor %}
        </table>
      </form>
    </div>
  </div>
</body>

</html>